<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}CRUD Test{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
        <div id="content">
            {% block body %}<h2>CRUD Test</h2>
            <p>¡Con nueva inferfaz de formulario!.</p>
            {% endblock %}
        </div>
        <div id="sidebar">
            {% block sidebar %}
                <ul>
                    <li><a href="/">Inicio (Aqui)</a></li>
                    <li><a href="/addform">Añadir</a></li>
                    <li><a href="/readform">Leer</a></li>
                    <li><a href="/updateform">Modificar</a></li>
                    <li><a href="/delete">Eliminar</a></li>
                </ul>
            {% endblock %}
        </div>
    </body>
</html>


{{ form_start(findform) }}
{{ form_widget(findform) }}
{{ form_end(findform) }}
{{ form_start(form) }}
{{ form_widget(form) }}
{{ form_end(form) }}